barcodes.tsv
fastq/*
logs/*
logs/cluster/*
.snakemake/
alignment/
coverage/
qual_ctrl/
datavis/
peakcalling/
diff_binding/
shifts/
scripts/.snakemake*
snakemake.err
snakemake.log
*.svg
mogrify.log
mogrify.err
README.html
config.yaml
*.*.swp

Rplots.pdf
!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
